#maincontainer{
    position:static;
}

#red{
    width: 300px; /* 幅 */
    height: 150px; /* 高さ */
    position:static;
    background-color:red;
    left:10%;
    top:20%
}
#blue{
    width: 300px; /* 幅 */
    height: 150px; /* 高さ */
    position:relative;
    top:100%;
    left:30%;
    background-color: blue;
}
