/* #display{
    position:relative;
} */
#display {
    position: static;
    width:1920px;
    height:1080px;

}
#pineContainerLeft{
    display:flex;
    justify-content: left;
    position:absolute;
    transform:scale(0.135);
    height:1000px;
    width:2000px;
    /* background-color: red; */
    top:-240px;
    left:-840px;
}
#chocoContainerLeft{
    display:flex;
    justify-content: left;
    position:absolute;
    transform:scale(0.085);
    height:1000px;
    width:2000px;
    /* background-color: red; */
    top:-80px;
    left:-900px;
}
#breadContainerLeft{
    display:flex;
    justify-content: left;
    position:absolute;
    transform:scale(0.135);
    height:1000px;
    width:2000px;
    /* background-color: red; */
    top:-410px;
    left:-840px;
}
#pineContainerRight{
    display:flex;
    justify-content: left;
    position:absolute;
    transform:scale(0.135);
    height:1000px;
    width:2000px;
    /* background-color: blue; */
    top:-240px;
    left:380px;
}
#chocoContainerRight{
    display:flex;
    justify-content: left;
    position:absolute;
    transform:scale(0.085);
    height:1000px;
    width:2000px;
    /* background-color: blue; */
    top:-70px;
    left:340px;
}
#breadContainerRight{
    display:flex;
    justify-content: left;
    position:absolute;
    transform:scale(0.135);
    height:1000px;
    width:2000px;
    /* background-color: blue; */
    top:-410px;
    left:380px;
}


#bon1{
    position:absolute;
    transform:scale(0.4);
    top:180px;
    left:-350px;
}
#bon2{
    position:absolute;
    transform:scale(0.4);
    top:180px;
    left:700px;
}
#check1{
    position:absolute;
    transform:scale(0.5);
}
#check2{
    position:absolute;
    transform:scale(0.5);
}
#leftUniversity{
    position:absolute;
    transform:translate(-50%, -50%) scale(5);
    left:470px;
    top:1000px;
    writing-mode: horizontal-tb;
    
}

#rightUniversity{
    position:absolute;
    transform:translate(-50%, -50%) scale(5);
    left:1450px;
    top:1000px;
    writing-mode: horizontal-tb;
}
#point1{
    
    position:absolute;
    transform:translate(-50%, -50%) scale(25);
    top:700px;
    left:420px;   
}
#point2{
    
    position:absolute;
    transform:translate(-50%, -50%) scale(25);
    top:700px;
    left:1450px;   
}

#timer{
    font:bolder;
    font-family:sans-serif;
    transform:scale(15);
    position:absolute;
    top:100px;
    left:960px;
}
#timer-ready{
    font:bolder;
    font-family:sans-serif;
    transform:scale(10);
    position:absolute;
    top:100px;
    left:960px;
}
#timer-finish{
    font:bolder;
    font-family:sans-serif;
    transform:scale(8);
    position:absolute;
    top:100px;
    left:960px;
}