/* #display{
    position:relative;
} */
#container {
    position: relative;
}
#leftContainter{
    position:absolute;
    transform:scale(0.085);
    top:auto;
    left:auto;
}
#rightContainer{
    position:absolute;
    transform:scale(0.085);
    top:auto;
    left:auto;
}





#bon1{
    position:absolute;
    transform:scale(0.6);
    top:130px;
    left:-300px;
}
#bon2{
    position:absolute;
    transform:scale(0.6);
    top:130px;
    left:00px;
}
#check1{
    position:absolute;
    transform:scale(0.5);
}
#check2{
    position:absolute;
    transform:scale(0.5);
}
#leftUniversity{
    position:absolute;
    transform:translate(-50%, -50%) scale(5);
    left:470px;
    top:1000px;
}

#rightUniversity{
    position:absolute;
    transform:translate(-50%, -50%) scale(5);
    left:1450px;
    top:1000px;
}
#point1{
    
    position:absolute;
    transform:translate(-50%, -50%) scale(25);
    top:700px;
    left:420px;   
}
#point2{
    
    position:absolute;
    transform:translate(-50%, -50%) scale(25);
    top:700px;
    left:1450px;   
}